[2019-02-20 19:36] kysolvik opened #8 "Suggestions for Python development glossary"
Hi all!

I couldn't find a good, straightforward glossary that explained terms related to python package development. What's a docstring? A slug? What about continuous integration? I drafted one to help people get up to speed: https://hackmd.io/0qDa5pPMSlyiD9kN06zKvA?view

I tried to keep it pretty short. Does anyone have suggestions for other terms to add or corrections to any of the definitions?

[2019-04-10 14:59] choldgraf opened #13 "A sample email for contributors to use to ask for participation"
Hey all - I was gonna email a couple of folks to ask if they're interested in helping out with / submitting for / etc pyOpenSci. Figured it'd be easier to create a template email others can use to save folks some time.

**For folks on the project, feel free to edit this to make imrovements!**

---
< short greeting />

I'm writing to see if you'd be interested in participating with [pyOpenSci](http

[2019-04-10 15:02] choldgraf commented on #13
cc @lwasser who's probably writing these kinds of emails too :-)

(also, feel free to suggest a different place to share this information...I can't think of another place to store this kinda thing in a discoverable place...I think it's the kinda thing we could use a Discourse for, but I can't remember if that's part of the plan or not)

[2019-04-10 17:30] lwasser commented on #13
this is much better than what i've been doing @choldgraf thank you for submitting this!! we have been talking about getting discourse setup @kysolvik is going to look into it. do you guys have hosting through jupyter of discourse? and can you customize the domain??

[2019-04-10 18:55] choldgraf commented on #13
they've got an open source option that will let you choose your domain as long as it is `discourse.mydomain.org`, that's what we use at `discourse.jupyter.org`

[2019-05-02 18:22] lwasser opened #15 "CI setup & Do we need CI for this website build?"
1. Currently the CI setup authentication is under @kysolvik username. We probably want to use earth.lab for the time being and then ultimately we should have a pyopensci user that has admin privileges
2. Does the build need to be so complete given gh-pages will auto build markdown files??

[2019-05-02 18:24] kysolvik opened #16 "CI not building book properly"
New content isn't getting published if you don't "make book" before pushing changes

[2019-05-02 19:07] choldgraf commented on #16
I can try to debug this - I was planning to update the jupyter book version we use anyway

[2019-05-02 19:08] choldgraf commented on #15
What the build does is auto-generates the markdown files that the site uses (aka, it runs `jupyter-book build .`. Otherwise we'd need to remember to run this each time we update the content and include the changes in the PR.

[2019-05-02 20:15] choldgraf opened #17 "Suggest that reviewers create issues instead of adding all text in the review?"
One issue that we ran into in our first review is that the review issue can get *reeeally* long if there are many comments etc. It'll get even longer if discussion etc happens after the review.

The JOSS community recommends that reviewers open up issues in the author repository, instead of discussing in the review issue, and instead just link out to those opened issues. E.g., here's the Whedon "n

[2019-05-02 20:20] choldgraf opened #18 "Add installation instructions to the requirement for the pre-submission guideline"
In our review, one of use (hint: it was me) had a really hard time installing the environment needed to run the package. This was partially because there was no installation instructions given. As a pre-requisite for the review process to begin, we should probably ensure that there are at least *some* instructions, and the reviewers can decide if they're "good" or not after they follow them :-)

[2019-05-02 22:21] choldgraf commented on #15
just took a look at this again...I think that the circle build in there is actually somewhat unnecessary (it runs the jupyter book test suite, probably because I had copied everything over from the jupyter book repo). We could re-visit the build commands to simplify!

[2019-05-02 22:45] choldgraf commented on #16
I *think* I fixed this in #21 - the problem was that we weren't actually deleting old versions of files in the master build, but now they should be deleted and properly updated...let's see if that fixes it

[2019-05-03 05:37] noamross commented on #17
(Hello, fan, lurker, and RO editor here 👋)

At rOpenSci we keep reviews in a single thread because it makes the review a single readable resource for future users, especially editors/reviewers at other journals that the package may be passed on to.  It can definitely get ungainly this way.  Sometimes people put their reviews in summary in the main thread and then open individual issues, linking to

[2019-05-03 15:56] kysolvik commented on #17
Thanks @choldgraf and welcome @noamross!! There do seem to be tradeoffs. It's nice having all of the review process for a package in a single issue. I do like the JOSS process in that some record of the review changes are then directly visible in the package's repo, plus it keeps the review issue shorter. That set up might be easier to do once we get whedon or a similar bot running to help with li

[2019-05-03 15:59] kysolvik commented on #18
This is a really good idea! I'll add some language asap

[2019-05-03 16:17] kysolvik commented on #16
Hey @choldgraf, thanks for looking into this! Your PR seems like it should've fixed the problem, but still seems to not be updating.

I'm just looking at the relative link that you fixed in the [review template](https://www.pyopensci.org/dev_guide/appendices/templates.html) in #14. It's still the relative link in the [_build dir of the master branch](https://github.com/pyOpenSci/dev_guide/blob/mas

[2019-05-03 23:38] lwasser commented on #17
hi @noamross 👋👋👋 welcome to pyopensci!! we love fans and especially ones with all of the experience and expertise that you bring to the table!!

1. we are happy to add you to our org if you'd like
2. please feel free to jump into our every 3 week meetings at ANY TIME if you have time. i know you are busy but i'm happy to add you to the invites even if you are too busy to attend
3. your thoughts ar

[2019-05-04 02:31] choldgraf commented on #17
I'm +1 on linking the issues that are opened back to the original review - that's what JOSS suggests, I believe

[2019-05-04 19:32] noamross commented on #17
Thanks for the warm welcome @lwasser!  For now I will stick to watching the repo to avoid taking on too much, but feel free to ping me or the other RO folk if there's anything we can be helpful with.

[2019-05-10 15:05] kysolvik commented on #16
Hey @choldgraf, have you had the chance to revisit this?

@lwasser and I were also talking about if there's anything we could streamline/simplify since we're not using the more advanced jupyter books features like the code blocks and outputs.

thanks for all your help!!!

[2019-05-12 20:16] choldgraf commented on #16
hey @kysolvik - I've been away at a conference so haven't had a chance to look at this. I can try to spend a little bit of time this week. I don't think that the build isn't updating because we are using advanced features - the auto-deploy script just isn't set up properly I think...will try to figure it out

[2019-05-14 15:25] kysolvik commented on #16
ok, thanks @choldgraf!

[2019-05-14 16:03] choldgraf commented on #16
in #22 I just removed the `_build` folder as I think it might have been preventing new versions of files from being built

(in a newer version of jupyter-book, the behavior changed so that if files in `content/` are newer than files in `_build/` then the re-build automatically happens, but I suspect that we're running an older version of jupyter-book that required you to manually delete the files

[2019-05-18 22:09] kysolvik commented on #16
Hey @choldgraf! I think it worked! Just looking at that relative link that you corrected to an absolute link (under packaging guidelines here: https://www.pyopensci.org/dev_guide/appendices/templates.html#review-template), it's been updated now.

I'm going to add a couple more things to the packaging guide today or tomorrow. I'll check to be sure they update and let you know

[2019-05-20 15:11] kysolvik commented on #16
Closing this issue... thanks again Chris!

[2019-05-20 15:11] #16 closed

[2019-05-20 15:17] kysolvik commented on #18
Added [some language](https://www.pyopensci.org/dev_guide/packaging/packaging_guide.html#overview) to the very top of the packaging guide (#23). It's mentioned again further down and in the submission checklist issue template.

Do you think this is enough @choldgraf? Are there other places we could emphasize it further? It's currently required as part of the README, so it's possible  that people m

[2019-05-20 15:51] choldgraf commented on #16
wohoo!

[2019-05-20 17:38] lwasser commented on #16
you guys are awesome. thank you both!

[2019-05-22 00:03] choldgraf commented on #18
yep, that works for me!

[2019-05-22 00:03] #18 closed

[2019-06-03 15:22] lwasser commented on #17
hey guys - i did a bad thing. last week in a rush after our meeting i committed directly to master BUT...

@choldgraf we talked about this in our meeting and discussed an OPTION in the template where someone submitting a package could check a box that would allow a reviewer to submit issues. With the expectation that they would LINK To those issues in their review. my commit is here:

https://gith

[2019-06-03 15:29] lwasser opened #27 "Add content on how to setup a Python testing envt"
This follows @npch comment here: https://pyopensci.discourse.group/t/some-experiences-of-doing-a-pyopensci-review/29/2?u=lwasser

Essentially someone newer to package development might not know how to setup a Python Envt with items needed to run tests locally. We should add a section somewhere on how this works with some instructions / guidelines. If anyone is interested in tackling this item - le

[2019-06-03 15:36] lwasser opened #28 "dev_guide isn't a great user friendly name"
Given we are branding pyopensci now and trying to help people understand what we are and what we do... it's time to think carefully about how we organize our content.

dev_guide isn't a very expressive name when you think about SEO (how search engines index our website and make it discoverable for people).

Let's think about using more meaningful section names to help people navigate our content.

[2019-07-10 23:43] kysolvik opened #32 "Specifically requires a markdown README"
It seems like at least restructuredtext would be fine too. I can submit a PR to fix this unless anyone has objections

[2019-07-11 01:02] lwasser commented on #32
hey @kysolvik !!! how are things?? are you suggesting that we are a bit too specific in terms of requiring the FORMAT of the readme file to be .md only? i'm very open to .rst as well. do you happen to know if github renders .rst in the same way it does .md on the landing page of a repo? if it's the same i can't think if any reason to not make this pr!!!

hope all is well!! our BoF is tomorrow! i s

[2019-07-11 15:19] kysolvik commented on #32
hey @lwasser!! Things are good! Good luck with the BoF tomorrow! Hope it goes great :)

Yeah that's all I'm suggesting. rst does get rendered, actually nbless uses an rst README: https://github.com/py4ds/nbless/blob/master/README.rst

I was thinking pyopensci could just require a README and then suggest restructuredtext or markdown. It looks like there are a few other filetypes that get rendered b

[2019-07-11 15:29] lwasser commented on #32
awesome @kysolvik yes, let's adjust the text to allow for format flexibility! i think the only thing we want is something rendered by github (so html would not be useful / usable for example!). thank you for the suggestion!!

and hoping that the BoF goes well today :) the hackmd for it is here: https://hackmd.io/B9zy15QZQTiYXiqRnl0ynA?both

[2019-09-03 18:41] mbjoseph opened #33 "rOpenSci carry-over: reference to DESCRIPTION"
The reviewer template has a reference to a DESCRIPTION file (an R thing), likely as a carryover from rOpenSci (see https://github.com/pyOpenSci/dev_guide/blob/master/content/appendices/templates.md#review-template):

[code]

We should clarify where the URL info etc. should live.

[2019-09-03 22:03] #33 closed

[2019-09-30 21:37] lwasser opened #37 "security alert! rubyzip ?? not sure if this is of concern but it just popped up!"
<img width="1154" alt="Screen Shot 2019-09-30 at 3 37 07 PM" src="https://user-images.githubusercontent.com/7649194/65918939-3548ac00-e398-11e9-9e50-641802f5cf0b.png">

[2019-09-30 21:39] lwasser opened #38 "Do we need to have a _data file for the TOC?"
@choldgraf do we need to populate this sidebar manually with jupyterbook?
just wondering if it's work automating that piece but i'm not familiar enough with the book setup to know whether you'r purposefully setting that manually or not! just curious!

thank you so much for the awesome updates!!!

[2019-09-30 21:47] choldgraf commented on #38
yep - you need that file to define the order of the pages in your book.

You can generate one automatically using the filenames with `jupyter-book toc path/to/my_book`

[2019-09-30 21:47] choldgraf commented on #37
the same thing popped up in jupyter book haha, I just merged in the PR but 🤷‍♂

[2019-09-30 21:51] lwasser commented on #38
ok great!! i'm pretty sure @kysolvik created it manually! so good to know there is a cli option! maybe we can add that to CI in the future (not a big deal now ). i was just thinking that is we add content there is a manual step here that could get lost!

[2019-09-30 21:55] lwasser commented on #37
i wonder if it's that gem.lock file?? i'm not sure we need it in the repo and could maybe add it to .gitignore (not 100% sure) but i know minimal mistakes doesn't have it in their repo.

we don't either?!
https://github.com/earthlab/earthlab.github.io/blob/master/.gitignore#L11

[2019-11-14 18:20] choldgraf opened #40 "Modify the submission template to ask a question about upstreaming the code"
In our meeting we discussed that it'd be good to ask authors if they've considered upstreaming an improvement to other related packages as opposed to releasing a new package. We could add a question to the template like:

* Are there related projects to this submission that would benefit from upstreaming this functionality? If so, what is your reasoning for releasing a new project?

[2019-11-14 19:30] lwasser commented on #40
Such a great suggestion @choldgraf !! i wonder if we can make the language a bit more friendly for those who might not know what upstreaming means?

maybe something like

* Are there related and already developed projects that might benefit from adding this functionality back to their project rather than creating a new package? If so...

Or something like that??

[2019-11-15 01:07] choldgraf commented on #40
I think that's much better wording!

[2019-12-12 01:14] megies opened #41 "repostatus badge"
Having that repostatus badge is prominently advertized in the packaging guidelines that I got pointed at during the submission of package review "new issue" process. (pyOpenSci/software-review/issues/16)

I didn't know it but from looking at the docs (their extra light gray text on white background is insanely hard to read) and if I'm not missing anything here (mostly due to skipping the longish t

[2019-12-12 01:34] lwasser commented on #41
hi @megies !! 👋 Thank you for the package submission AND for the issue here!! can you kindly help me understand:

1. what text is hard to read? that is something we can fix but i'm a bit unclear about what page you are looking at. A link and quick screenshot would be super helpful!!
2. and then what badge are you u referring to? We have a pyopensci reviewed badge that we ask you uto add to your re

[2019-12-12 06:54] megies commented on #41
### 1.

 It's mentioned [here](https://www.pyopensci.org/dev_guide/packaging/packaging_guide.html#README) and I ended up on that page during filing that "new review" issue. You end up on that page following a link in the "new review issue" template:

![Screenshot from 2019-12-11 22-41-12](https://user-images.githubusercontent.com/1842780/70688791-d9ad6f80-1cb2-11ea-8de5-f292d92624a0.png)

---

[co

[2020-04-08 16:29] lwasser opened #43 "issues to address"
- [ ] review guide should link to more current POS reviews - not just links to RO reviews
- [ ] Review template should be a big old button to make it easier to find.
- [ ] fix messaging around the status badge - our is not currently dynamic so they should only add the badge at the end

[2020-04-30 17:31] lwasser opened #44 "Update Jupyter Book"
@choldgraf has been updating Jupyter Book! we should bump up to the next version.

[2020-04-30 17:34] lwasser opened #45 "Add a get started page for editors"
@jlpalomino will work on a friendlier get started page for editors!

* Editor template should be easy to find on that page!!
* Should have a list of steps
* Maybe some discuss of changing the labels for the issues
* pyopensci badges - when that should go on a users repo
* Version number -- should the final version of the software have a _dev index on it.

[2020-04-30 17:52] lwasser opened #46 "Updates to the review template"
* We should update the version number text so that a maintainer can "bump" the version to a _dev version if they want -- this is in the review TEMPLATE.
* This was originally part of the editors final check. Approval comment template
   * this template should be updated as well

### Reviewer page
https://www.pyopensci.org/dev_guide/peer_review/reviewer_guide.html

* This page could be restructured

[2020-04-30 17:54] lwasser opened #47 "Consider Restructuring Docs into separate chapters"
from @choldgraf

1. for people developing packages
 * infrastructure requirements, etc
2. about the pyopensci process itself
  * what does the review process look like

* Two guides potentially
    * One that is developer/author-focused
        * Maybe don't use the word "dev_guide", maybe something like "author_guide"?
    * One that is editor/reviewer/process-focused

[2020-04-30 18:05] lwasser opened #48 "Add language about pyopensci's stance on volunteer time"
* officially a reviewer should not ask for something in return. We need to add this language about "pyopensci" is not going to reciprocate labor if someone volunteers.

[2020-04-30 20:59] #44 closed

[2020-05-05 06:08] pmeier opened #52 "Missing links for badge table example in packaging guide"
In the section [`README`](https://www.pyopensci.org/dev_guide/packaging/packaging_guide.html#readme) the packaging guide includes the following sentence:

    If the README has many more badges, you might want to consider using a table for
    badges, see this example, that one and that one.

Unfortunately, `this example` and both `that one` contain no links. If you can list the intended links I c

[2020-05-05 23:07] choldgraf commented on #47
This is now done! We still may split into two guides but I think for now we can close the issue until we get a feel for the new structure

[2020-05-05 23:07] #47 closed

[2020-05-05 23:08] choldgraf opened #53 "Rename this repository to "guide"?"
The content in this guide is more than just a developer guide. What do folks think about simply renaming it to "guide"? e.g. `pyopensci.org/guide`?

[2020-05-05 23:09] choldgraf commented on #45
Note for @jlpalomino this page now lives here: https://github.com/pyOpenSci/dev_guide/blob/master/submissions/editor_guide.md

If you wanna give a first pass at this I am happy to review

[2020-05-05 23:11] choldgraf opened #54 "Consider adding the guidebook to the top-level nav"
I think the guidebook is particularly useful for pyOpenSci authors/editors/reviewers. Currently it is 2 levels deep (on the "resources" page), but I wonder if it is useful enough to put as its own section at the top:

![image](https://user-images.githubusercontent.com/1839645/81124709-fc068a80-8eea-11ea-840a-55fb46fa8476.png)

Perhaps the "community forum" would be another item to put at the top,

[2020-05-05 23:12] choldgraf commented on #28
Oops, I just realized I duped this one in #53 . What do you think about just calling this "guide" @lwasser ?

[2020-05-05 23:13] choldgraf commented on #15
this is now fixed!

[2020-05-05 23:13] #15 closed

[2020-05-05 23:31] choldgraf commented on #38
this is now fixed!

[2020-05-05 23:31] #38 closed

[2020-05-06 00:14] choldgraf commented on #37
this is no longer an issue w/ the new jupyter book!

[2020-05-06 00:14] #37 closed

[2020-05-06 00:18] #8 closed

[2020-05-06 00:18] #13 closed

[2020-05-06 00:18] #52 closed

[2020-05-06 00:21] choldgraf opened #56 "Split the authors guide into *requirements* and then guidelines/info"
Right now in the packaging guide, our "authors guide" has two kinds of information

* Basic guidelines for passing the review process
* More general information, best-practices, and examples

What do folks think about explicitly splitting these two things. Having one page that is just short and to-the-point "good/better/best" lists, and those lists then *link* to other pages in the guide that go i

[2020-05-06 00:22] choldgraf commented on #27
Note - I added another page for this so that we could expand upon it with content like the one described here:

https://www.pyopensci.org/dev_guide/authoring/testing.html

One thing to note is that we don't want to re-invent the wheel. We should link out to things like software carpentry as much as possible

[2020-05-06 00:23] choldgraf commented on #32
I believe that this is now explicit in: https://www.pyopensci.org/dev_guide/authoring/overview.html

[2020-05-06 00:23] #32 closed

[2020-05-12 01:18] lwasser commented on #37
yay thank you @choldgraf !!!

[2020-05-21 17:44] xmnlab opened #58 "Replace `(attributions=)` by `(attributions)=` in authoring/collaboration.html"
At the end of the section [1 ], the text `(attributions=)` should be removed.

[1]  https://www.pyopensci.org/dev_guide/authoring/collaboration.html#working-with-collaborators-including-yourself

[2020-05-21 17:51] choldgraf commented on #58
any particular reason?

[2020-05-21 17:52] lwasser opened #59 "Add a "new reviewers" section to the review page"
Currently the [review page](https://www.pyopensci.org/dev_guide/submissions/reviewer_guide.html)  does not cover some of our most common questions surrounding "am i qualified" to do this. I think we need to make some text that is welcoming around how we can support new reviews and what "qualifications" are required.

We can have reviewers who are more code technical vs ones that look at usability

[2020-05-21 17:53] xmnlab opened #60 "Note about authoring/collaboration"
At the end of authoring/collaboration[1] section, the paragraph maybe would be better with more details, example:

from

to

[1] https://www.pyopensci.org/dev_guide/authoring/collaboration.html#be-generous-with-attributions

[2020-05-21 17:58] lwasser opened #61 "Guide for Reviewers page: Update Pyopensci example reviews"
In the pyopensci dev guide we list some existing reviews (now that we have a bunch!). However below we link to a bunch of blogs on people's first ROS review. these are great but it would be great to get feedback from the pyopensci community in the form of blog posts too!!  This could be done ....

[2020-05-21 18:12] lwasser opened #63 "Guide for Reviewers: Add a section for those who are new - what are the requirements"
I added a TODO in my pr here #62 to add a section for new reviewers that explains what we are looking for in a review and how we can mentor and support new reviewers. It would be great to add some friendly text about how reviewers an have different levels of technical background to review!

[2020-05-21 18:16] lwasser commented on #53
@choldgraf i love this. I think ro used contributing guide which i really like. There is SEO strategy here to think about. for instance this url

https://www.pyopensci.org/dev_guide/submissions/reviewer_guide.html

would be way better if it looked like this

https://www.pyopensci.org/contributing-guide/open-source-software-submissions/how-to-review-a-python-package.html

Notice use of
`-` and word

[2020-05-21 18:28] choldgraf commented on #53
Definitely 👍 optimize away! :-)

[2020-05-21 18:30] choldgraf commented on #60
+1 from me (we could also use a `{note}` directive here)

[2020-05-21 19:08] cosmicBboy opened #64 "add direct links to create relevant issue on submissions/author_guide.html"
There are several spots where a direct link would save a few clicks:

- add a link on ` “Submit Software for Review”` that goes directly to the relevant [create new issue page](https://github.com/pyOpenSci/software-review/issues/new?assignees=&labels=1%2Feditor-checks%2C+New+Submission%21&template=submit-software-for-review.md&title=)
- update the link on `Presubmission Inquiry issue` to go straig

[2020-05-21 19:12] cosmicBboy opened #65 "add examples of pyOpenSci packages in process/aims_scope.html under each category"
It might be helpful for potential authors to see examples of pyOpenSci (or maybe ROpenSci?) that are representative of a particular package category, where possible.

[2020-05-21 20:08] jlpalomino commented on #45
Update: I am working on this issue in the linked PR and got pretty far today.

Status of original tasks:
- [X] Editor template should be easy to find on that page!!
- [X] Should have a list of steps
- [X] Changing the labels for the issues
- [X] pyopensci badges - when that should go on a users repo
- [ ] Version number -- should the final version of the software have a _dev index on it.

New task

[2020-05-22 01:13] lwasser commented on #53
@choldgraf can you help me building locally?
when i run
`jupyter-book build dev_guide`
i get
[code]

i tried `jupyter-book build .` as well and got an error.

i can see that no matter what i run, i can't upgrade jupyter book to .7 it is always 0.6.5
have you happened to see this happen before? where you can't upgrade nor build locally? i can post this elsewhere if it's not a quick fix / silly user

[2020-05-22 01:16] lwasser commented on #53
ok never mind!! a few things to change in the readme!!
1. `pip install -U "jupyter-book>=0.7.0b"` for the install and
2.  build: `jupyter-book build .`
does that seem right? it worked for me now!! :)

[2020-05-22 01:17] xmnlab commented on #53
@lwasser I had the same issue ...and I did the same you did and it worked for me :)

[2020-05-22 02:31] xmnlab commented on #58
actually we didn't understand that .. looks like a typo ... does it have any meaning?

[2020-05-22 02:35] choldgraf commented on #58
It is how you define references in MyST markdown - you can then reference whatever is inside the `()`. You put them just before headers. So for example:

[code]

[2020-05-22 02:40] choldgraf commented on #53
yep that all looks correct to me! d'oh sorry about the install not being correct...it is still marked as a "pre-release" so that needs to be explicit

[2020-05-22 15:36] lwasser commented on #53
yay ok i'll update our readme now :) thank you @choldgraf @xmnlab and i'll update the repo name today too!!

[2020-05-22 15:41] lwasser commented on #53
i just updated the repo!! and the install instructions :) i'll close this but please do reopen if we want to discuss further!!

[2020-05-22 15:41] #53 closed

[2020-05-22 16:09] xmnlab commented on #58
oh I see .. so it seems it is wrong because it is using `(attributions=)` and its present in the text ... that is why we detected that ... so probably we should change to `(attributions)=`

[2020-05-22 16:10] xmnlab commented on #58
@choldgraf  thanks for the explanation!

[2020-05-22 21:39] #45 closed

[2020-05-22 21:46] lwasser opened #70 "Jupyter book build fail - github actions (probably a GH issue not us)"
https://github.com/pyOpenSci/contributing-guide/runs/700850461?check_suite_focus=true#step:6:149

looks like the book build is failing now. the main thing that has changed is i renamed the repo. but i don't know how to give actions "permissions" for the same repo with a new name. does anyone else know by chance? @choldgraf or @xmnlab maybe??

it ran on my branch prior to merging but failed on depl

[2020-05-22 21:51] choldgraf commented on #70
Yeah could be a github issue, lemme look at it later today tho!

[2020-05-22 22:05] lwasser commented on #70
thank you! @choldgraf i'm sure i'm doing something wrong. i'm also getting toctree warnings when i build locally. so if you have any suggestions for me please say the word. i've been reading your docs for jupyter book which are EXCELLENT!! but i think i see items in the toc.yml even tho it's telling me there are not in the toctree. i suppose this could be an artifact of building several times. doe

[2020-05-22 22:20] lwasser commented on #70
ok def a github issue!! it build when i just reran the job.
Chris - another question.

1. how do you specify the order of items in the toc when you build it automagically? Do you have to manually update the toc or is there a clever way to order files?
2. intro vs index.md -- does the name of the landing page for each section matter? it seems to sometimes place a file as the index in the TOC that s

[2020-05-23 00:22] choldgraf commented on #70
Ah - yep it will use the filenames of the content pages to determine the order, see some details here:

https://jupyterbook.org/customize/toc.html#automatically-generate-your-toc-yml-file

Generally it is alpha-numeric ordering, but if there's a file called `index.md` or `index.ipynb` then it'll be treated as the first file in the folder.

I usually use it to quickly generate a `_toc.yml` file and

[2020-05-23 02:37] #58 closed

[2020-05-23 02:37] #60 closed

[2020-06-05 15:04] lwasser commented on #61
this has been complete via #62

[2020-06-05 15:04] #61 closed

[2020-06-08 14:53] lwasser opened #75 "Update JOSS instructions for editors"
given this laster review of pyrolite -- https://github.com/pyOpenSci/software-review/issues/20#issuecomment-640197262 it was mentioned by @arfon that it would be best for us to direct maintainers to JOSS to submit. in their submission we can tell them to mention a review already happened here and was accepted by POS. add documentation in the editor templates about this so each editor can provide i

[2020-06-08 15:01] lwasser opened #76 "How do we track packages that lose maintainers?"
ropensci has documentation that specifies that they will fix things if the maintainer is not responsive. how does ropensci manage packages if they are not in our org and we don't have a good way ot tracking maintaince over time.

[2020-06-11 23:18] choldgraf commented on #76
hmmm - the simplest way to do it is just to have good contact information and let users be the ones to say "hey XXX package isn't being maintained". Fancier solutions would be to implement a dashboard or something like this, but that may be too much burden

[2020-06-12 14:45] lwasser commented on #76
thank you  @choldgraf but how would a user know to even tell us? the big difference here is that MOST packages in RO are actually in their organization so that connection is more clear (i think anyway). However in python we have such a community of developers that packages are all over the place and folks are i think much less likely to want to transfer over to us. does that make sense? i could be

[2020-06-12 14:58] choldgraf commented on #76
We could ask that people who have put their packages through the review process include a badge for pyOpenSci + some explanatory text in their README?

[2020-07-16 03:22] NickleDave opened #78 "broken links because "contributing-guide" is missing"
Hi @lwasser @choldgraf I noticed on the site when I click on the "aims and scope" and "code of conduct" links from the open-source-software-peer-review/intro.html page, I get a 404

i.e., from this page:
https://www.pyopensci.org/contributing-guide/open-source-software-peer-review/intro.html
I get a 404 from this link when I click "Aims and Scope" at the top of the page
https://www.pyopensci.org/o

[2020-07-20 21:24] lwasser commented on #78
@NickleDave  thank you... i see this is created by this code. we may need @choldgraf here...

Chris -- the issue is that the auto generated TOC at the top of the page is skipping the "contributing-guide" part of the link that is causing the 404. how does that toc element generate links?

[code]

[code]

[2020-07-20 22:14] choldgraf commented on #78
hmmmm - I think this one might be fixed in the `master` branch of jupyter-book. Any chance somebody wants to try building the site w/ master and seeing if it works? :-)

[2020-07-25 14:33] NickleDave commented on #78
when I build locally with jupyter-book 0.7.1 and view `_build/html` from localhost (using `python -m http.server`) I don't have this issue

but it's because there's no 'contributing-guide' in *any* of the links

I can try with `master` of jupyter-book but not clear to me if that will diagnose the issue

[2020-07-25 15:09] NickleDave opened #79 "change 'CRAN' to PyPI in guide for editors?"
should we change this reference to CRAN to PyPI?

[code]
https://github.com/pyOpenSci/contributing-guide/blame/master/open-source-software-submissions/editors-guide.md#L53

I would just go ahead and do this but I'm under a work deadline this week. Can do after Wednesday! Just want to raise the issue here so it doesn't get lost

[2020-07-25 15:13] NickleDave opened #80 "broken conflict of interest link on guide for editors"
This link in the editors guide to the COI language is broken:
https://www.pyopensci.org/contributing-guide/open-source-software-submissions/editors-guide.html

This is the link in the .md here:
https://github.com/pyOpenSci/contributing-guide/blame/master/open-source-software-submissions/editors-guide.md#L58
```* No [conflicts of interest](peer_review_proc#conflict-of-interest)```

Presumably we wa

[2020-07-25 15:15] NickleDave opened #81 "add link to COI on reviewers guide?"
Just borrowed the ROpenSci email template for inviting reviewers and noticed they point to the conflict of interest language in that email.

Should we have a link to the COI on the reviewers guide page?
I don't find one. Guess we need to fix #80 first

[2020-07-27 18:56] lwasser commented on #81
hey @NickleDave  are you referring to this template:

https://www.pyopensci.org/contributing-guide/appendices/templates.html#review-request-template

i think it would be great to link to it in the reviewers guide! maybe we can find a meeting time in the next month that folks can make and handle issues only?

[2020-07-28 12:38] NickleDave commented on #81
Hi @lwasser sorry for not including more detail

I was referring to this page
https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html
I thought it might make sense, since we have a link on the corresponding page for editors, under
https://www.pyopensci.org/contributing-guide/open-source-software-submissions/editors-guide.html#criteria-for-choosing-reviewer

[2020-09-24 16:07] rabernat opened #82 "Discuss possible collaborations / integrations with Pangeo"
Thanks for all of your amazing work on pyOpenSci. It's great to see the progress this project has made.

I'm opening this issue to discuss how we (in the Pangeo project) can leverage and collaborate with pyOpenSci. [Pangeo](http://pangeo.io/index.html) is a platform for big data geoscience that is really just a loose collection of interoperable python packages. We have been providing [guidance on

[2020-09-30 12:23] xmnlab commented on #82
@rabernat your idea about a common guideline across scientific python communities sounds very nice!

maybe we could add specific sections for specific communities when needed, how does it sound? for example, we could have a topic called "coding guide" and a section there for `Pangeo`.

Does anyone have more comments about that?

[2020-09-30 12:25] rabernat commented on #82
Yes, that's what I had in mind. Thanks for considering it.

[2020-09-30 14:39] lwasser commented on #82
good. morning @xmnlab @rabernat  i second Ivan's idea about having community specific guidelines. The one challenge will be to have a vision for it to ensure that we don't end up with too many specific subsets of guidelines that will in turn make reviews and being an editor much more challenging. Maybe there is a process for

1. defining what a community is and the scale of the community may impac

[2020-10-08 15:29] NickleDave opened #83 "editor approval template specifically mentions pyrolite"
https://www.pyopensci.org/contributing-guide/appendices/templates#editor-approval-comment-template

needs to be replaced with "<package-name>"

[2020-10-09 00:55] choldgraf commented on #83
thanks for noticing @NickleDave !

[2020-10-09 01:09] #83 closed

[2020-10-09 02:55] NickleDave commented on #83
Thank you @choldgraf for understanding my tersely worded issue and for fixing

[2021-05-21 16:31] lwasser opened #86 "Add Editor guide to guide book"
Right now it's challenging to know exactly what the role of an editor is when looking at our guide. it would be helpful to break  content out into the following sections:

Editor Guide
Reviewer Guide
Authors Guide (we already have this!)

This would make is crystal clear what the steps our for each of our "user types". And it would facilitate onboarding new  reviewers and editors.

specifically th

[2021-05-21 17:42] lwasser commented on #81
i'm looking at this but also i think that page needs an intro like what JOSS has. i'm happy to take a  stab at this a bit later!

in terms of the email template - @NickleDave  did you not  like the one here:

https://www.pyopensci.org/contributing-guide/appendices/templates.html#review-request-template

we can make changes. One change i  can make it to make it "code" so it can be copied like the o

[2021-05-21 21:27] lwasser commented on #80
@NickleDave i just fixed this. I'll work on the other COI related issue next week. i think that one deserves a bit more text and such in that section! i also think we can make things look nicer with breakout boxes and such given we are in sphinx world here!

[2021-05-21 21:35] #79 closed

[2021-05-21 21:35] lwasser commented on #79
fixed!

[2021-05-21 21:36] lwasser commented on #70
ok  thank you for all of this! i'm going to close this  issue as i think for now it has been resolved!

[2021-05-21 21:36] #70 closed

[2021-05-21 21:36] lwasser commented on #64
@cosmicBboy thank you for this issue! i'm slowly working on  cleaning  up the guide and will address this in the upcoming weeks!

[2021-05-22 00:51] lwasser commented on #78
hey @NickleDave following up on this one. i *think* this is working now but i want to double check before i just close it. it seems to be working when i navigate to that page can you kindly confirm?

[2021-05-22 01:01] lwasser opened #90 "Fix Broken Links in contributor guide"
Jupyter book link checker is returning false posities so i tried [linkchecker](https://github.com/linkchecker/linkchecker) and i see about 20 broken links to fix.

********
If the book link checker is not working let's figure it out through this issue.
pr #110 adds a link checker to the build. [Here you can see all of the broken links](https://github.com/pyOpenSci/contributing-guide/actions/runs/3

[2021-05-22 01:30] NickleDave commented on #78
Yes, can confirm that the links in both the sidebars and in the bulleted lists at the top of the pages are now working (even though some of the links above still 404 -- I take it the deployed site is no longer using those links).

Clearly I resolved the issue by forgetting about it (sorry @lwasser)

[2021-05-22 01:30] #78 closed

[2021-05-22 14:16] NickleDave commented on #80
🤔 I still get a 404 when I click on this link?
https://www.pyopensci.org/contributing-guide/open-source-software-submissions/peer_review_proc#conflict-of-interest

I'm clicking here
![Screen Shot 2021-05-22 at 10 14 41 AM](https://user-images.githubusercontent.com/11934090/119229598-c416b900-bae6-11eb-93f8-79f9dfeda992.png)

[2021-05-24 17:58] lwasser commented on #80
hey @NickleDave thank you.  i  had the PR opened  but only merged it this morning as i ended up doing a bunch of other edits. there are still a lot of   issues with that page  but can  you have a look again please? i've redone the page and started a revisit of the content - merged this am.

[2021-05-24 17:59] lwasser commented on #80
here is the link - https://www.pyopensci.org/contributing-guide/open-source-software-submissions/editors-guide.html#criteria-for-choosing-reviewers just in case i've reopened  this issue until you check it again to ensure i'm not missing something.

[2021-05-24 18:56] NickleDave commented on #80
I was able to click on it now and have that link resolve properly to https://www.pyopensci.org/contributing-guide/open-source-software-peer-review/policies-and-guidelines.html#conflict-of-interest

so I think this is fixed

[2021-05-24 18:56] #80 closed

[2021-05-26 01:22] lwasser commented on #75
@arfon I am working on the instructions from this aspect of the review now. I'm so sorry - i've been pinging you directly in issues and had forgot about this from last year. I am working on an editor guide - would language like this work for you:

Question: do you want our reviewers to look at the paper.md file and cross check JOSS scope as well?

[code]

[2021-05-26 08:57] arfon commented on #75
Thanks @lwasser - these guidelines look good to me.

No, I think this is our job to do, although you might want to link to the JOSS docs on [what a paper should contain](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Also, one minor change to the second bullet (I've made it bold for clarity):

What do you think?

[2021-05-27 00:45] lwasser commented on #75
@arfon this all looks good. i'll make these change now.
I have a few more questions

We currently have this language  in our guide:
[code]
Can you please clarify how you use / if you need the zenodo doi? Don't you provide a new doi when the package is accepted that is cross-ref compatible?

I just want to ensure our language is clear. (and i am clear as well on the full process!)

i've also added

[2021-06-01 12:06] arfon commented on #75
Do you need your authors to create a Zenodo archive for pyOpenSci? If not, feel free to leave off this language about Zenodo as we can handle this with the pyOpenSci package owners.

Right. We could say something like 'Packages that have been previously published elsewhere may not be eligible to published with JOSS'. Or something like that?

[2021-06-02 18:12] lwasser commented on #75
@arfon perfect. We are strongly encouraging zenodo. Can you clarify how you handle the zenodo DOI? do you redirect it to a new cross-ref recognized DOI?

We know that some of our maintainers won't be able to use zenodo for various reasons but will encourage everyone who can to use zenodo. If they are moving on to JOSS however and don't have zenodo already setup does it make sense for them to hold

[2021-06-03 16:49] arfon commented on #75
The Zenodo DOI for JOSS is so that there is an (off-GItHub) archive of the software. JOSS links to this in the paper, but the paper itself gets its own DOI (from Crossref).

<img width="1483" alt="Screen_Shot_2021-06-03_at_17_48_49" src="https://user-images.githubusercontent.com/4483/120682146-06031000-c494-11eb-9514-cb9edede161d.png">

No, because they'll still need to archive the software separa

[2021-06-03 18:23] lwasser commented on #75
got it. Thank you! I understand now @arfon thank you for clarifying this for me.

ZENODO is used to create an archive which is stored outside of github on zenodo's site. But in  the case of a JOSS review, we don't use the DOI because JOSS will generate a cross ref doi so the authors will be asked to remove the zenodo doi badge and use cross ref doi for citation purposes.  But the archive is still

[2021-06-03 19:05] arfon commented on #75
Authors are welcome to keep this in their READMEs etc. but we'd obviously prefer that they cited their shiny new JOSS paper rather than a Zenodo DOI :-)

[2021-07-16 02:20] lwasser opened #96 "Reviews for already accepted to JOSS tools"
i've been asked several times about tools that have been already submitted to JOSS that may want to become a part of the pyOpenSci ecosystem.

It's worth asking the ropensci folks if they do this and what it looks like.
Then i think we should develop a workflow to support it. What will be different about it is the review may have already happened in the past and our requirements different somewhat

[2021-08-19 17:13] lwasser opened #97 "CONDA FORGE guidenace - grayskill"
@willingc mentioned a package that makes it easier to [generate the yaml file](https://github.com/pyOpenSci/software-review/issues/37#issuecomment-901969635) needed to submit a package to conda forge.  This may be a nice add on to our maintainer guide as many are not familiar with that process and  it could make that process easier.

[2021-09-15 20:38] lwasser opened #98 "Contributing guide and guidelines for packages"
Right how our [contributing guide  is not explicit about publishing a package on pypi conda etc for distribution](https://www.pyopensci.org/contributing-guide/authoring/release.html).

[we have a review](https://github.com/pyOpenSci/software-review/issues/26), that has users install the packages from github rather than a released version of the code on github OR pypi. There is an older version of

[2022-02-09 16:01] lwasser commented on #64
@sumit-158 of course!! pull requests are more than welcome.
thank you for offering!

[2022-02-11 10:06] sumit-158 commented on #64
@cosmicBboy @lwasser can you please review the PR?

[2022-02-12 00:08] lwasser commented on #64
HI sumit, I can take a look next week.
Things are moving slow right now as I'm transitioning jobs. But thank you so much for this. We will address it this month!
Leah

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sumit Kumar ***@***.***>
Sent: Friday, February 11, 2022 3:06:30 AM
To: pyOpenSci/contributing-gu

[2022-02-25 17:40] #64 closed

[2022-09-06 15:57] lwasser opened #103 "TImeline for author response and expectations for peer review"
we've run into a few issues with authors submitting tools and either not responding after OR when the review comes in they don't have time to address the review.

I think it would be good to set expectations about the review timeline and how much time the authors need to schedule in when the reviews come in. here is some suggested language by @xmnlab that we chatted about:

in this section: https:

[2022-09-07 00:04] lwasser commented on #103
Update: upon rereading our contributing guide it does say to refer to the policies when there is an author that does not respond. however that link is broken. [See here. ](https://www.pyopensci.org/contributing-guide/open-source-software-submissions/editors-guide.html#editor-responsibilities-during-the-review). I will fix that link and revisit the contributing guide to fix things.

[2022-09-07 00:10] lwasser commented on #103
Re our policies... good to revisit:
[code]
SO i may want to go back to the issue i closed and ask the maintainer if they think they may have time within the next year? if so i can add the 'hold' label and given them another x months until they hit the 1 year mark.

[2022-09-08 21:12] lwasser opened #104 "find / add instructions for reveiwers to add themselves to the contributor list on the website"
These instructions should be in the guidebook and in the template to make things easier!
Ref: https://github.com/pyOpenSci/pyopensci.github.io/pull/77

[2022-09-08 22:09] lwasser opened #105 "Reorganize to add a clear community section?"
Right now this guide is a bit confusing 0 it could be nice to reorganize it a bit. specifically i want to add a community section so we can highlight thinks like our communication channels and such.

@xmnlab also suggested making sure the navigation was OPEN rather than collapsed at the beginning of loading the page. And @kcranston suggested making sure it's easy for each audience to find what the

[2022-09-19 23:27] lwasser opened #107 "New CI Build for Jupyter Book - Update GitHub actions"
Updating: Jupyter book is now building on circleci and github actions.

I'm wondering if we need circle CI at all or why we have it?
We will need to update the build to run on actions. open to any help on this item.

## GitHub actions running on main branch
After reviewing the build i see that the requirements.txt has a pinned version of jupyter book. We definitely want to use the most recent vers

[2022-09-19 23:40] kysolvik commented on #107
Hey @lwasser! I could take this on! I've been looking for a way to get back involved with pyOpenSci and this seems perfect.

I could do it sometime this week or next, assuming there aren't too many complications.

[2022-09-19 23:42] lwasser commented on #107
@kysolvik that would be AMAZING!! thank you. Can I invite you to our slack in case you want to join? you can email me at leah at pyopensci.org if that is of interest.

[2022-09-19 23:43] lwasser commented on #107
putting your name on this but of course if you find you are too busy I understand and can remove it!!

[2022-09-19 23:48] kysolvik commented on #107
perfect, thanks!!

[2022-09-21 15:07] lwasser opened #109 "Not sure GA is tracking the contributing guide"
Am looking into this now... there's no analytics but i go to the site so atleast one person goes there. and i know reviewers use it they have to.

[2022-09-21 17:28] lwasser commented on #107
@kysolvik no rush on this at all but i just wanted to give you a small update for whenever you tackle this. I was able to really easily fix the build part of things but just removing some of the package version pins that we had so that is done so I can update the guide over the next few days. however the artifacts part i'm still a bit confused about. So i'll leave that to you to look at and help u

[2022-09-21 17:57] #109 closed

[2022-09-22 07:44] Athene-ai commented on #90
I am interested

[2022-09-22 20:26] lwasser commented on #90
hi there @Athene-ai let's focus on one issue at a time! would you prefer to work on the website issue or this one? Please let me know that and when you think you can work on it (and if you need any guidance) and i'll add your name to the appropriate issue!!

[2022-09-23 07:44] Athene-ai commented on #90
Hi @lwasser I am interested in website issues and I can work now with guidance

Let me know ;-)

[2022-09-23 19:37] kysolvik commented on #107
@lwasser Thanks for the update! Just played around with this for a while (https://github.com/pyOpenSci/contributing-guide/tree/github-ci-build). Here's some notes:

1. I added the link checker to the github actions build, but it looks like there's already an open pull request for that. I removed it from this branch for now.
2-3. I don't think we need circleci at all, but it does have some nice fun

[2022-09-23 19:43] kysolvik commented on #107
Also, I can add documentation about the CI build to the README once we've decided how to proceed!

[2022-09-26 15:10] lwasser commented on #107
hi @kysolvik wow - this is super thorough and incredibly helpful, thank you!!

If you still have time / energy for it, why don't we document this workflow - the ci part in the readme so it's clear how the build works and how you view the artifact files. i think i follow what is happening now. For now i suspect just downloading the file is good enough for us!

And that's great to know that the buil

[2022-09-26 17:02] lwasser commented on #107
one other item, @kysolvik can you please add an actions badge to the readme when this is done so we can see docs are passing/failing?

[oo](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge)

it looks straight forward but if it's not we can skip it! many thanks.

[2022-09-26 21:41] kysolvik commented on #107
@lwasser Yes! I can work on documenting the workflow. I added the badge as well: https://github.com/pyOpenSci/contributing-guide/commit/d7daa9710c1bcabe0dcac83fbfd8e44a96aff592. Once I document the workflow I'll open a PR sometime in the next couple days!

I can help with the links, but it might not be for a couple weeks at least. So if someone else can get to it first they should take it on!

[2022-09-26 22:14] lwasser commented on #107
ok no problem!! thank you for doing this @kysolvik and no problem on the link checker. If that issue is still open in a few weeks or more you can have a look if you happen to have time.. but perhaps we will close it by then! much appreciated.

[2022-09-27 18:19] lwasser commented on #107
heya @kysolvik just a quick followup. we are gonna keep the circleci build based upon discussion above, correct? and just document it all as it is now? just keeping  @NickleDave in the loop here. So the build will push over to circle ci to create the artifact for viewing without a local build, and the artifacts.yml build brings it over to our repo here for easy access without leaving the repo.

yo

[2022-09-28 03:51] kysolvik commented on #107
Hi @lwasser! I don't think we need circleci. Github actions can build the artifact, the only issue is it's not quite as pretty as circle ci, which lets you view the html directly in browser. For now, with github actions you need to download the zip and then open the html. But if we're ok with that, I don't think there's any reason to use both circle ci and github actions. Let me know if I'm missin

[2022-09-28 15:11] lwasser opened #116 "Make sure the review spreadsheet is filled out for every review"
We cn automate this in the future but for now - the editor should make sure this survey is filled out. so add that to our docs - it should go in EiC checks and editor TODO's. it's super fast to do at the beginning to let's start doing it now.

https://docs.google.com/spreadsheets/d/1UHTvvjvzXVFlKdVM8MUcvexx7J1VMk_1AWiW_B2bo9M/edit#gid=0

[2022-09-28 21:10] kysolvik commented on #107
@lwasser I added documentation about the build to the README. Everything is in PR #115. Let me know what you think! Happy to tweak as needed.

If we want to continue using Circle CI that's an option. I think my vote would be for using one or the other, not both. The only advantage I can see of Circle CI is that it has a prettier way of viewing the built html artifact rather than downloading the si

[2022-09-28 22:25] NickleDave commented on #107
Hi @kysolvik thank you so much for taking time to do this.

I had asked @lwasser if the plan was to remove Circle CI because in my experience it's quite helpful to be able to point to a single file everyone involved can look at. And the step of having to download is a bit annoying, although of course not the end of the world. I don't mean to make things more complicated after you've already done a

[2022-09-28 23:05] lwasser commented on #107
Thank you for this addition @NickleDave i just want to note that there are two issues that you're addressing in the above comment

1. CI builds... regardless we will want to have a CI build here that facilitates a "view" of what the book looks like. THat would hold true even if we use RTD. so this build and documentation is useful regardless
2. Where we publish. that topic is separate. Do we publi

[2022-09-28 23:27] lwasser commented on #107
Ok let me chime in one more time.. it used to be that finding the build artifact in Circle CI was annoying.. you really had to dig but now... it's really easy to find and is nice.

SEE:
https://app.circleci.com/pipelines/github/pyOpenSci/contributing-guide/292/workflows/6e41e977-025c-458e-a4ad-7bf270618bb1/jobs/352/artifacts

@kysolvik i'm so sorry but i'm leaning with @NickleDave here to leave Ci

[2022-09-29 00:04] kysolvik commented on #107
Hi @lwasser and @NickleDave, thanks for the input! I'm super happy to add CircleCI back in, that's easy. Sorry if I misunderstood, based on earlier discussion I thought we had decided that downloading the artifact was good enough for now and so we'd go ahead with GH Actions. But I absolutely agree that CircleCI's functionality for easily viewing the HTML is super handy and @NickleDave makes a good

[2022-09-29 23:00] lwasser commented on #90
hi @Athene-ai So i have a very discrete thing that you can work in IF you wish to!
If you want, [you can look at this pr](https://github.com/pyOpenSci/contributing-guide/pull/110)

Now I don't know what your  background is here so please ask questions if what I say below doesn't make sense.
[Here i added CI to check the guide for broken links. ](https://github.com/pyOpenSci/contributing-guide/pull

[2022-09-30 07:31] Athene-ai commented on #90
Hi @lwasser !

Thansk for assign me this wonderful task!

I will take  look at it 😉

[2022-10-03 14:40] lwasser commented on #90
@Athene-ai wonderful. please let me know if you have any questions.

[2022-10-03 14:43] Athene-ai commented on #90
@lwasser sure

[2022-10-03 19:38] kysolvik commented on #107
Hi @lwasser and @NickleDave! Just pinging this, thoughts on how we want to proceed with CircleCI vs. CircleCI + GiHub Actions?

[2022-10-03 19:51] lwasser commented on #107
@kysolvik i'm so sorry i missed the message above last week. not sure how i missed it! i'll get back to you in the next day on this. i see what you're saying here.
Github actions is super convenient because the build just lives here
Circle ci is convenient becuase it provides a html version of the book built to look at in browser.

It's repetitive to have both. but with each by themselves we are g

[2022-10-03 22:56] lwasser commented on #107
ok @kysolvik i have thought about this more. Again i take full responsibility here for our communication and appreciate your willingness to help here.

I think having the circle CI online element is useful right now. it will allow me or anyone to review and view a PR without being at a computer. on the go. and avoid needing to download files and open them. I also prefer github actions and hope in

[2022-10-04 16:41] lwasser commented on #107
awesome!! thanks so much, @kysolvik !!! 🎆

[2022-10-06 23:15] lwasser commented on #107
@kysolvik one thing to note that i did today that may change your workflow. To avoid lots of branches here and to encourage PR's i moved most people away from being owners and am setting up teams. i can give you more access to this repo for sure if you need it. or you can fork / pr as i think we'd prefer contributions to happen in the future. just let me know if you need more permissions here!

[2022-10-06 23:35] kysolvik commented on #107
@lwasser I can use the fork/pr workflow from now on! Thanks for the heads up.

[2022-10-12 15:14] lwasser opened #121 "Editor expectations"
I thought i had written something in editor expectations but i can't find it - so be sure to add that to the editor guide SOON as we onboard editors.

[2022-10-19 21:05] lwasser commented on #107
closing this via #119 thanks again @kysolvik !

[2022-10-19 21:05] #107 closed

[2022-10-24 15:02] lwasser opened #131 "RENAME REPO: peer-review-guide"
To be much more clear and for better SEO - this should be renamed `peer-review-guide`
I think i will wait to do this until the two open prs are merged.

[2022-10-24 15:08] lwasser commented on #131
started this here by creating the package-guide repo

https://github.com/pyOpenSci/python-package-guide

[2022-10-24 18:37] lwasser opened #132 "content to add to author guide..."
Thank have links to the packaging guide...
---------
write for a general audience wherever possible
define terms
be concise (usually docs are too sparse! so I guess that's why we don't have this already)

[2022-10-25 11:06] lwasser commented on #121
thi is esolved in #126 merged. closing

[2022-10-25 11:06] #121 closed

[2022-10-25 11:06] lwasser commented on #103
i believe this is done. closing

[2022-10-25 11:06] #103 closed

[2022-10-25 11:08] lwasser opened #133 "Link checker ignoring my regex (ruby)"
This is so weird. i had all of the ruby regex working and it's working in the governance repo and was working here i swear. and now it stopped working.

this should work:
arguments: |
           --ignore-files "/.+\/_static/"

Could it be that it's not working as the build is slightly different now with book theme?

oh gosh that just occured to me
governance uses:
[code]

and i'm using directory:

[2022-10-27 21:19] NickleDave opened #136 "Add standards for development workflows for packages that wrap libraries in lower-level languages"
as discussed in https://github.com/pyOpenSci/software-review/issues/60#issuecomment-1294073493

[2022-10-28 16:09] NickleDave opened #137 "Incorrect link in "Are you a package author / maintainer?" card on index.md?"
Again I know this is all under construction but I think the link in this card:

https://github.com/pyOpenSci/contributing-guide/blob/b7e7d80d6eeb582fcb4f346a2d8421f70ff507df/index.md?plain=1#L58

[code]

should instead be
[code]

Happy to fix with a PR if so

[2022-11-01 16:27] lwasser commented on #137
please submit a PR if you wish.
or i can too... i noticed the landing page is rendering funky again.

I think today i'm going to rename the repo as well to peer-review-guide as that is what this document really is.

[2022-11-02 14:32] NickleDave commented on #137
@lwasser can you assign to me? I'll fix the link this afternoon

[2022-11-03 18:53] #133 closed

[2022-11-03 19:08] lwasser opened #141 "Setup redirect extension in all of our guides"
see:

* https://github.com/wpilibsuite/sphinxext-rediraffe
* https://github.com/orgs/executablebooks/discussions/117

This looks straight forward to setup and well worth having if it works.

[2022-11-03 21:41] lwasser commented on #137
The syntax of the landing page had a lot of issues [so i fixed it just now ](https://www.pyopensci.org/peer-review-guide/https://www.pyopensci.org/peer-review-guide/ )-
there were also a lot of broken links on that page and across the pages so i fixed those as well. finally CI needed a bit of love so now each PR will check for links and we are starting from GREEN.

When i change a link in the futu

[2022-11-03 21:41] lwasser commented on #131
this has been done - closing

[2022-11-03 21:41] #131 closed

[2022-11-03 21:42] lwasser commented on #90
Ok this has been done! via #142 and a few other pr's submitted by others. closing!

[2022-11-03 21:42] #90 closed

[2022-11-03 21:42] lwasser commented on #86
this has been done. closing

[2022-11-03 21:42] #86 closed

[2022-11-03 21:43] #75 closed

[2022-11-03 21:48] lwasser opened #143 "README file - badge not rendering"
Looks like there is a bad badge link there..
<img width="709" alt="Screen Shot 2022-11-03 at 5 46 16 PM" src="https://user-images.githubusercontent.com/7649194/199840648-d441ca2b-9f45-47f7-aaa7-c6c41bac8fe9.png">

[2022-11-03 21:53] NickleDave commented on #137
Worked for me! Closing

[2022-11-03 21:53] #137 closed

[2022-11-05 11:47] lwasser opened #145 "Add sphinx sitemap"
Right now we aren't being indexed properly by google. A site map will help

https://techwriter.documatt.com/2020/sphinx-sitemap.html

Also related:
- [x] Create redirect pages on the website that redirect from contributing-guide to peer-review guide
- [x] Finally reconsider -- sphinx is a bit difficult. what does it provide that i can't actually do with jekyll and have easier to navigate content?